version: "3.8"

services:
  backend:
    build: ./docker -f docker/Dockerfile.backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./data:/app/data
  frontend:
    build: ./docker -f docker/Dockerfile.frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app/frontend
